* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:hover {
  color: #2874f0;
}

li {
  list-style: none;
}

.App {
  background-color: rgb(239, 239, 239);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #ffe11b;
}

.off {
  color: #ccc;
}